.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;

  padding-top: 93px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.2);
}

.form {
  position: relative;

  max-width: 450px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .form__btn-close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: color 250ms $timimng-fuction-bezier;
    cursor: pointer;
  }

  .form__sub-text {
    display: inline-block;
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: $title-text-color;
  }

  .form__link {
    color: $accent-color;
  }
}

.form__btn-icon {
  .form__btn-close:hover &,
  .form__btn-close:focus & {
    fill: $accent-color;
  }
}

.form__field {
  position: relative;

  display: block;
  margin-bottom: 28px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms $timimng-fuction-bezier;

  &:focus,
  &:not(:placeholder-shown) {
    border-color: $accent-color;
    outline: none;
  }
}

.form__description-input {
  position: absolute;
  top: 12px;
  left: 42px;

  transition: color 250ms $timimng-fuction-bezier,
    top 250ms $timimng-fuction-bezier, left 250ms $timimng-fuction-bezier;

  .form__field:focus-within &,
  .form__input:not(:placeholder-shown) + & {
    color: $accent-color;
  }

  .form__field:focus-within &,
  .form__input:not(:placeholder-shown) + & {
    top: -23px;
    left: 16px;
  }
}

.form__icon {
  position: absolute;
  top: 11px;
  left: 16px;

  transition: fill 250ms $timimng-fuction-bezier;

  .form__field:focus-within &,
  .form__input:not(:placeholder-shown) ~ & {
    fill: $accent-color;
  }
}

.form__field-textarea {
  position: relative;

  display: block;
  margin-bottom: 20px;
}

.form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;

  &:focus,
  &:not(:placeholder-shown) {
    border-color: $accent-color;
    outline: none;
  }
}

.form__description-textarea {
  position: absolute;
  top: 12px;
  left: 16px;

  transition: top 250ms $timimng-fuction-bezier,
    left 250ms $timimng-fuction-bezier;

  .form__field-textarea:focus-within &,
  .form__textarea:not(:placeholder-shown) + & {
    color: $accent-color;
  }

  .form__field-textarea:focus-within &,
  .form__textarea:not(:placeholder-shown) + & {
    top: -23px;
    left: 16px;
  }
}

.form__field-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  cursor: pointer;
}

.form__box-icon {
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  border-radius: 2px;

  .form__checkbox:checked + & {
    background-color: $accent-color;
  }
}

.form__checkbox-icon {
  margin-right: 8px;

  border: 2px solid $title-text-color;
  border-radius: 2px;

  .form__checkbox:checked + .form__box-icon & {
    border: none;
  }
}

.form__text-policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: $primary-text-color;
  letter-spacing: 0.03em;
}

.form__btn-submit {
  padding: 10px 55px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;

  background-color: $accent-color;
  border: none;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 1200px) {
  .backdrop {
    padding: 0;
  }

  .form {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 528px;
  }

  .form__text-policy {
    font-size: 14px;
    line-height: 1.71px;
  }
}
