.section {
  padding-bottom: 60px;

  .section__title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    color: $title-text-color;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;

      font-size: 36px;
      line-height: 1.16;
    }
  }

  @media screen and (max-width: 767px) {
    .section__item {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .section__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
  }

  .section__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
  }

  .section__list {
    display: flex;
    justify-content: center;
    margin: -15px;
  }

  .section__item {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}
